@page "/"

<PageTitle>RadzenIcon Fullscreen Chrome Issue</PageTitle>

<h1>RadzenIcon Fullscreen Chrome Issue</h1>

<div>
    Issue Info: <a href="https://github.com/LostBeard/RadzenIconFullscreenIssue">RadzenIconFullscreenIssue</a>
</div>