@page "/WithRadzenIconFullscreen"
@using Radzen.Blazor

<script>
    function fullscreenElement(el)
    {
    el.requestFullscreen();
    }
    function isFullscreen()
    {
    return document.fullscreenElement !== null;
    }
    function exitFullscreen()
    {
    document.exitFullscreen();
    }
</script>

<PageTitle>RadzenIcon Fullscreen Issue</PageTitle>

<h1>RadzenIcon Fullscreen Issue</h1>

<div @ref=grapesDiv style="background: inherit;">
    <div>
        Grapes!<br/>
        You must come to this tab after loading the app in a fresh tab, without going to "Without RadzenIcon" first.
    </div>
    <button class="btn btn-primary" @onclick="ToggleFullscreen">Toggle Fullscreen</button>
    <RadzenIcon Icon="fullscreen"></RadzenIcon>
</div>

@code {
    
    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    ElementReference grapesDiv;

    private async Task ToggleFullscreen()
    {
        var isFullscreen = await JSRuntime.InvokeAsync<bool>("isFullscreen");
        if (isFullscreen)
        {
            await JSRuntime.InvokeVoidAsync("exitFullscreen");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("fullscreenElement", grapesDiv);
        }
    }
}
