@page "/WithRadzenIconFullscreen"
@using Radzen.Blazor

<script>
    function fullscreenElement(el)
    {
    el.requestFullscreen();
    }
    function isFullscreen()
    {
    return document.fullscreenElement !== null;
    }
    function exitFullscreen()
    {
    document.exitFullscreen();
    }
</script>

<PageTitle>RadzenIcon Fullscreen Issue</PageTitle>

<h1>RadzenIcon Fullscreen Issue</h1>

<div @ref=grapesDiv style="background: inherit;">
    <div>
        Grapes!<br/>

        Clicking the button below will call "requestFullscreen()" on the "grapes" div.<br />
        Having the RadzenIcon with the "fullscreen" icon seems to somehow interfere with the element going fullscreen, and instead the entire document will go fullscreen.<br/>
        This issue has been tested and found to exist in Google Chrome 133 on Windows 10 and macOS Sequoia.<br/>
        Firefox and Edge worked as expected.
    </div>
    <button class="btn btn-primary" @onclick="ToggleFullscreen">Toggle Fullscreen</button>
    <RadzenIcon Icon="fullscreen"></RadzenIcon>
</div>

@code {
    
    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    ElementReference grapesDiv;

    private async Task ToggleFullscreen()
    {
        var isFullscreen = await JSRuntime.InvokeAsync<bool>("isFullscreen");
        if (isFullscreen)
        {
            await JSRuntime.InvokeVoidAsync("exitFullscreen");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("fullscreenElement", grapesDiv);
        }
    }
}
